html, body,div,img {
    margin: 0;
    padding: 0;
    color:green;
}

header {
    width: 60vh;
    margin: auto;
}


section {
    margin: 5vh auto 0 auto;
    width: auto;
    height: 60vh;   
}

header {
}
    
}
